* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.header-section {
    height: 10rem;
}

.header-section figure img {
    width: 10rem;
    height: 9rem;
}

.titulo-logo {
    font-size: 3rem;
}

.main-section__nav {
    height: 100vh;
    min-height: 170rem;
    width: 15rem;
}

.main-section__nav li a {
    font-size: 3rem;
}

.main-section__h1 {
    height: 12rem;
}

.main-section__h1 h1 {
    font-size: 5rem;
}

.main-div {
    display: flex;
    height: 80rem;
}

.main-div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-div2 section {
    margin: 1rem;
    height: 34rem;
}

.main-section__LS {
    width: 34.3rem;
    height: 30rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 1.5rem;
}

.main-section__LS img {
    width: 30rem;
    height: 20rem;
}

.main-section__LS h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7rem;
    width: 30rem;
    height: 4rem;
    margin: 0 auto;
}

.main-section__LS p {
    font-size: 3rem;
    width: 17rem;
    margin: auto;
}

.main-section__CA {
    width: 34.4rem;
    height: 30rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 1.5rem;
}

.main-section__CA img {
    width: 30rem;
    height: 20rem;
}

.main-section__CA h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7rem;
    width: 28rem;
    height: 4rem;
    margin: 0 auto;
}

.main-section__CA p {
    font-size: 3rem;
    width: 17rem;
    margin: auto;
}

.main-section__DM {
    width: 34.4rem;
    height: 30rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 1.5rem;
}

.main-section__DM img {
    width: 30rem;
    height: 20rem;
}

.main-section__DM h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7rem;
    width: 20rem;
    height: 4rem;
    margin: 0 auto;
}

.main-section__DM p {
    font-size: 3rem;
    width: 17rem;
    margin: auto;
}

.main-section__A {
    width: 34.4rem;
    height: 30rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 1.5rem;
}

.main-section__A img {
    width: 30rem;
    height: 20rem;
}

.main-section__A h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7rem;
    width: 12.5rem;
    height: 4rem;
    margin: 0 auto;
}

.main-section__A p {
    font-size: 3rem;
    width: 17rem;
    margin: auto;
}